<div class="container-fluid">
        <div class="row form-group ml-3">
                <label for="exampleInputEmail1" class="col-sm-1 font-weight-bold" style="padding-top: 5px;">search</label>
                <div class="col-md-6">
                    <input type="email" class="form-control col-md-6" #search (keyup)="searchData(search.value)"  aria-describedby="emailHelp" placeholder="Search by name or contact number or email">
                    <small id="emailHelp" class="form-text text-muted">Search by name or contact number or email.</small>
                </div>

        </div>

        <ngx-datatable
        class="material"
        [rows]="rows"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        rowHeight="auto"
        [externalPaging]="true"
        [count]="page.totalElements"
        [offset]="page.pageNumber"
        [limit]="page.size"
        (page)="setPage($event)">

       

        <ngx-datatable-column name="Firstname" prop="employeeFn" [width]="150">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                {{value}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Lastname" prop="employeeLn" [width]="120">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                {{value}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="contact no" prop="contactNo" [width]="80">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                {{value}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Alternat No" prop="alternatContactNo" [width]="80">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                {{value}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Email" prop="email">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"  >
                {{value}}
            </ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column name="status" prop="isActive" [width]="80">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                <button type="button" class="btn btn-info" (click)="changeStatus(row)" *ngIf='row.isActive'>Actived</button>
                <button type="button" class="btn btn-danger" (click)="changeStatus(row)" *ngIf='!row.isActive'>Deactived</button>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Action" [width]="80">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                <button mat-flat-button (click)="getStudentDetails(row)" data-toggle="modal" data-target="#assignBatchStuModal" class="btn btn-primary">
                    <span class="fa fa-pencil" aria-hidden="true"></span>
                </button>
                <button mat-flat-button (click)="viewStudentDetails(row)" class="ml-3 btn btn-dark">
                    <span class="fa fa-eye" aria-hidden="true"></span>
                </button>
                <!-- <button mat-raised-button (click)="getPlayerPop(row.trainerId)" color="primary">View Details</button>
                <button type="button" class="btn btn-info" (click)="getStudentById(row.employeeId)">View Details</button> -->
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
    

    
    
</div>

<!-- The Modal -->
<div class="modal" id="assignBatchStuModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Student Details</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <div class="col-lg-12">
                <form class="col-lg-12" [formGroup]="studentData" >
                    <div class="form-group">
                        <label for="firstName">Firstname: </label>
                        <input type="text" class="form-control" id="firstName" formControlName="firstName" aria-describedby="firshnameHelp" placeholder="Enter Firstname">
                        <input type="hidden" #studentId name="studentId" formControlName="studentId">
                    </div>
                    <div class="form-group">
                        <label for="lastname">Lastname: </label>
                        <input type="text" class="form-control" id="lastname" formControlName="lastname" aria-describedby="lastnameHelp" placeholder="Enter Lastname">
                    </div>
                    <div class="form-group">
                        <label for="email">Email: </label>
                        <input type="email" class="form-control" id="email" formControlName="email" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="contactNo">Contact No: </label>
                        <input type="text" class="form-control" id="contactNo" formControlName="contactNo" aria-describedby="contactNoHelp" placeholder="Enter contact number">
                    </div>
                    <div class="form-group">
                        <label for="alternateCntNo">Alternate Contact No: </label>
                        <input type="text" class="form-control" id="alternateCntNo" formControlName="alternateCntNo" aria-describedby="altcontactNoHelp" placeholder="Enter alternate contact number">
                    </div>



                    <div class="form-group">
                        <label class="mr-2">User status: </label>    
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="isActive" formControlName="isActive"  value=1 [checked]='studentData.isActive' required >
                            <label class="form-check-label" for="inlineRadio1">True</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="isActive" formControlName="isActive" value=0 [checked]='!studentData.isActive' required>
                            <label class="form-check-label" for="inlineRadio2">False</label>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <button class="btn btn-primary col-sm-9" type="button" (click)='updateStudent(studentData)'>Update</button>
                    </div>

                    <div class="form-group row justify-content-end mt-5">
                            <button type="button" (click)='addBatchStudent(studentId.value)' data-toggle="modal" data-target="#addBatchStuModal" class="btn btn-secondary mb-3">Add Batch</button>
                        <table class="table table-striped">
                            <tr>
                                <th>
                                    Batch Name
                                </th>
                                <th>
                                    Batch Time
                                </th>
                                <th>
                                    Batch Status
                                </th>
                                <th></th>
                            </tr>
                            <tr *ngFor='let batch of batchData'>
                                	<td>
                                        {{batch.batchName}}
                                    </td>
                                    <td>
                                        {{batch.batchTime}}
                                    </td>
                                    <td>
                                        {{(batch.isActive == 1) ? 'Active' : 'Deactived'}}
                                    </td>
                                    <td>
                                            <button type="button" class="btn btn-danger" (click)='deleteBatchById(studentId.value,batch.batchId)'>Delete</button>
                                    </td>
                            </tr>

                        </table>
                    </div>
                </form>
            </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="stDataId" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>

  <!-- The Modal -->
<div class="modal" id="addBatchStuModal">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Modal Heading</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
                <input name='stId' class="form-control col-sm-1 d-none" [(ngModel)]="stId" >
                <ngx-select-dropdown 
                    (change)="selectionChanged($event)" 
                    [config]="config" 
                    [options]="dropdownOptions">
                </ngx-select-dropdown>

                <button class="btn btn-secondary mt-4 justify-content-end" (click)="addBatch()">Add Batch </button>
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" id="clsStAddBtc" data-dismiss="modal">Close</button>
            </div>
      
          </div>
        </div>
      </div>
