<div class="container-fluid">

    <div class="row justify-content-center">
        <h4>{{courseText}}</h4>
    </div>
    <ngx-datatable
        #table
        class="material"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [limit]="10"
        [rows]="rows">



        <ngx-datatable-column name="Batch Name" prop="batchName">
            <ng-template
                ngx-datatable-cell-template="ngx-datatable-cell-template"
                let-rowIndex="rowIndex"
                let-value="value"
                let-row="row">
                {{value}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Course" prop="courseName">
            <ng-template  ngx-datatable-cell-template="ngx-datatable-cell-template" let-rowIndex="rowIndex"  let-value="value" let-row="row">

                {{value}}
            
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Batch Time" prop="batchTime">
            <ng-template  ngx-datatable-cell-template="ngx-datatable-cell-template" let-rowIndex="rowIndex" let-value="value" let-row="row">
                {{value}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Batch Type" prop="batchType">
            <ng-template  ngx-datatable-cell-template="ngx-datatable-cell-template" let-rowIndex="rowIndex"  let-value="value" let-row="row">

                {{value}}
            
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Start Date" prop="startDate">
            <ng-template  ngx-datatable-cell-template="ngx-datatable-cell-template" let-rowIndex="rowIndex"  let-value="value" let-row="row">

                {{value}}
            
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Fees" prop="batchFees">
            <ng-template  ngx-datatable-cell-template="ngx-datatable-cell-template" let-rowIndex="rowIndex"  let-value="value" let-row="row">

                {{value}}
            
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="status" prop="batchStatus" [width]="80">
            <ng-template  ngx-datatable-cell-template="ngx-datatable-cell-template" let-rowIndex="rowIndex"  let-value="value" let-row="row">

                {{value}}
            
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="action"  [width]="80">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                <button type="button" class="btn btn-dark" (click)="editBatchData(row)" data-toggle="modal" data-target="#editBatchData">Edit</button>
            </ng-template>
        </ngx-datatable-column>


        <!-- <ngx-datatable-column name="Action" >
            <ng-template  ngx-datatable-cell-template="ngx-datatable-cell-template" let-rowIndex="rowIndex"  let-value="value" let-row="row">

                {{value}}
                <button type="button"  class="btn btn-success disable" (click)="editDetails(row)" >Edit</button>
            </ng-template>
        </ngx-datatable-column> -->


    </ngx-datatable>

</div>

<div class="modal" id="editBatchData">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Update Batch</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <div class="row justify-content-center">
                <h4>{{courseText}}</h4>
            </div>
            <form class="justify-content-center" [formGroup]="batchData" (submit)="updateBatchData()"> 
                <!-- <div class="row"> -->
                    <div class="form-group">
                        <label for="batchName">
                            Batch Name:
                        </label>
                        <input name="batchId" type="hidden" formControlName="batchId"> 
                        <input id="batchName" formControlName="batchName" type="text" placeholder="enter batch name" class="form-control col-sm-12">
                        <div
                        class="error"
                        *ngIf="getBatchData.batchName.invalid && getBatchData.batchName.touched">
                        <div *ngIf="getBatchData.batchName.errors.required">Batch Name is required</div>
                    </div>
                    </div>
    
                    <div class="form-group">
                        <label for="batchType">
                            Select Batch Type:
                        </label>
                        <select class="form-control" formControlName="batchType" placeholder="enter batch type" id="batchType">
                            <option value="">Select Batch Type</option>
                            <option value="Weekdays">Weekdays</option>
                            <option value="Weekends">Weekends</option>
                        </select>
                        <div
                        class="error"
                        *ngIf="getBatchData.batchType.invalid && getBatchData.batchType.touched">
                        <div *ngIf="getBatchData.batchType.errors.required">Batch type is required</div>
                    </div>
                    </div>
    
                    <div class="form-group">
                        <label for="batchTime">
                            Batch Time:
                        </label>
                        <input formControlName="batchTime" id="batchTime"  class="form-control" placeholder="enter batch time">
                        <div
                        class="error"
                        *ngIf="getBatchData.batchTime.invalid && getBatchData.batchTime.touched">
                        <div *ngIf="getBatchData.batchTime.errors.required">Batch time is required</div>
                        <div *ngIf="getBatchData.batchTime.errors.pattern">Pattern should match</div>
                    </div>
                    </div>


                    <div class="form-group">
                        <label for="batchFees">
                            Batch Fees:
                        </label>
                        <input formControlName="batchFees" id="batchFees"  class="form-control" placeholder="enter batch fees">
                        <div
                        class="error"
                        *ngIf="getBatchData.batchFees.invalid && getBatchData.batchFees.touched">
                        <div *ngIf="getBatchData.batchFees.errors.required">fees is required</div>
                        <div *ngIf="getBatchData.batchFees.errors.pattern">fees should be numbers only</div>
                    </div>
                    </div>
                    

                    <div class="form-group">
                        <label for="courseName">Select Course Name:</label>
                        <ngx-select-dropdown 
                        (change)="selectionChanged($event)" 
                        [config]="config" 
                        [options]="dropdownOptions"
                        formControlName="courseName"
                        ></ngx-select-dropdown>

                        <div
                        class="error"
                        *ngIf="getBatchData.courseName.invalid && getBatchData.courseName.touched">
                        <div *ngIf="getBatchData.courseName.errors.required">Course name is required</div>
                    </div>
                    </div>

                    <div class="form-group">
                        <label for="totalBatches">
                            No. of Session:
                        </label>
                        <input
                            formControlName="totalBatches"
                            id="totalBatches"
                            type="text"
                            pattern="[0-9]*"
                            class="form-control col-md-6"
                            placeholder="enter total number of batches">
                            <div
                            class="error"
                            *ngIf="getBatchData.totalBatches.invalid && getBatchData.totalBatches.touched">
                            <div *ngIf="getBatchData.totalBatches.errors.required">Total number of batches is required</div>
                            <div *ngIf="getBatchData.totalBatches.errors.pattern">only numbers allowed</div>
                        </div>
                        </div>


                    <div class="form-group">
                        <label for="startDate">
                            Select Start Date
                        </label>
                        <!-- <input type="text" [(ngModel)]="model" formControlName="startDate"
                        ngbDatepicker #d="ngbDatepicker" (focus)="d.open()" class="form-control"/> -->
                        <div class="input-group">
                            <input
                                formControlName="startDate"
                                class="form-control col-md-6"
                                placeholder="yyyy-mm-dd"
                                name="startDate"
                                [(ngModel)]="stDt"
                                ngbDatepicker="ngbDatepicker"
                                #d="ngbDatepicker" (click)="d.toggle()"
                                autocomplete="off"
                                readonly="readonly"
                                >
                                <div class="input-group-append">
                                    <button class="fa fa-calendar" (click)="d.toggle()" type="button"></button>
                                </div>
                            </div>
                            <div
                                    class="error"
                                    *ngIf="getBatchData.startDate.invalid && getBatchData.startDate.touched">
                                    <div *ngIf="getBatchData.startDate.errors.required">Start date is required</div>
                                </div>

                        </div>



                    <div class="form-group">
                        <label for="batchStatus">Select Batch Status:</label>
                        <ngx-select-dropdown 
                        (change)="selectionBatchChanged($event)" 
                        [config]="config1" 
                        [options]="dropdownOptions1"
                        formControlName="batchStatus"
                        ></ngx-select-dropdown>
                    </div>
                    <!-- <div class="form-control">
                        <label for=""></label>
                    </div> -->
                    
                    <div class="form-group mb-3">
                            <div class=" row justify-content-center pl-0 mb-4">
                                <button type="submit" class="col-lg-8 btn btn-success justify-content-center"  [disabled]='batchData.invalid'>Update</button>
                            </div>
                            
                    </div>
                <!-- </div> -->
            </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="updateCourseModal" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>