<div class="container">


    <h3 class="row justify-content-center mb-3" >Student Name: {{studentName}}</h3>

    <h5 class="row justify-content-center mt-3 mb-1">{{updateFeesData}}</h5>
    <ngx-datatable
        #table
        class="material"
        
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [limit]="10"
        [rows]="rows">



        <ngx-datatable-column name="Batch Name" prop="batchName">
            <ng-template
                ngx-datatable-cell-template="ngx-datatable-cell-template"
                let-rowIndex="rowIndex"
                let-value="value"
                let-row="row">
                {{value}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Course" prop="courseName">
            <ng-template  ngx-datatable-cell-template="ngx-datatable-cell-template" let-rowIndex="rowIndex"  let-value="value" let-row="row">

                {{value}}
            
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Batch Time" prop="batchTime">
            <ng-template  ngx-datatable-cell-template="ngx-datatable-cell-template" let-rowIndex="rowIndex" let-value="value" let-row="row">
                {{value}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Batch Type" prop="batchType">
            <ng-template  ngx-datatable-cell-template="ngx-datatable-cell-template" let-rowIndex="rowIndex"  let-value="value" let-row="row">

                {{value}}
            
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Fees" prop="fees">
            <ng-template  ngx-datatable-cell-template="ngx-datatable-cell-template" let-rowIndex="rowIndex"  let-value="value" let-row="row">

                {{value}}
            
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Total Paid" prop="totalPaid">
            <ng-template  ngx-datatable-cell-template="ngx-datatable-cell-template" let-rowIndex="rowIndex"  let-value="value" let-row="row">

                {{value}}
            
            </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column name="Pending" prop="totalPending">
            <ng-template  ngx-datatable-cell-template="ngx-datatable-cell-template" let-rowIndex="rowIndex"  let-value="value" let-row="row">

                {{value}}
            
            </ng-template>
        </ngx-datatable-column>



        <ngx-datatable-column name="fees Status" prop="isPaid">
            <ng-template  ngx-datatable-cell-template="ngx-datatable-cell-template" let-rowIndex="rowIndex"  let-value="value" let-row="row">

                <!-- {{value}} -->
                <div *ngIf="row.isPaid">Fees Paid</div>
                <button type="button"  class="btn btn-info" *ngIf="!row.isPaid" data-toggle="modal" data-target="#feesData" (click)="updateFees(row)">update</button>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="View" >
            <ng-template  ngx-datatable-cell-template="ngx-datatable-cell-template" let-rowIndex="rowIndex"  let-value="value" let-row="row">
                <button class="btn btn-success" [disabled]="row.totalPaid == 0" (click)="getStuTransactionByBatch(row)">View</button>
            </ng-template>
        </ngx-datatable-column>
        <!-- <ngx-datatable-column name="Action">
            <ng-template  ngx-datatable-cell-template="ngx-datatable-cell-template" let-rowIndex="rowIndex" let-value="value" let-row="row">
                
                <button type="button"  class="btn btn-info"   (click)="getStudentById(row.employeeId)">View Details</button>
            
            </ng-template>
        </ngx-datatable-column> -->

    </ngx-datatable>
</div>

<div class="modal" id="feesData">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Pay Fees For {{studentName}}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <div class="row justify-content-center">
                <h5>{{updateFeesData}}</h5>
            </div>
            <form [formGroup]="updateStudBatchFees">
                <input name='stId' type="hidden" class="form-control col-sm-1 d-none" [(ngModel)]="stId" formControlName="stId" >
                <input name='batchName' type="hidden" class="form-control col-sm-1 d-none" [(ngModel)]="batchName" formControlName="batchName">
                <input name='pending' type="hidden" class="form-control col-sm-1 d-none" [(ngModel)]="pending" formControlName="pending" >
                
                <div class="form-group">
                    <label for="Paying">Paying:</label>
                    <input class="form-control" id='Paying' type="text" name="fee" [(ngModel)]='fee' formControlName="paying" >
                    <div
                    class="error"
                    *ngIf="getupdateStudBatchFees.paying.invalid && getupdateStudBatchFees.paying.touched">
                    <div *ngIf="getupdateStudBatchFees.paying.errors.required">fees is required</div>
                    <div *ngIf="getupdateStudBatchFees.paying.errors.pattern">fees should be numbers only</div>
                </div>
                </div>
                <div class="form-group">
                    <label for="trNum">Transaction Number:</label>
                    <input class="form-control" id='transactionNumber' type="text" name="transNum" placeholder="please enter transaction number" formControlName="transNum" >
                    <div
                    class="error"
                    *ngIf="getupdateStudBatchFees.transNum.invalid && getupdateStudBatchFees.transNum.touched">
                    <div *ngIf="getupdateStudBatchFees.transNum.errors.required">fees is required</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="totalBatches">
                        Select Paid Date
                    </label>
                <div class="input-group">
                    <input
                        formControlName="paidDate"
                        class="form-control col-md-6"
                        placeholder="yyyy-mm-dd"
                        name="dp"
                        [(ngModel)]="model"
                        ngbDatepicker="ngbDatepicker"
                        #d="ngbDatepicker" (click)="d.toggle()"
                        autocomplete="off"
                        readonly="readonly"
                        >
                        <div class="input-group-append">
                            <button class="fa fa-calendar" (click)="d.toggle()" type="button"></button>
                        </div>
                    </div>
                    <div
                        class="error"
                        *ngIf="getupdateStudBatchFees.paidDate.invalid && getupdateStudBatchFees.paidDate.touched">
                        <div *ngIf="getupdateStudBatchFees.paidDate.errors.required">paying date is required</div>
                    </div>
                </div>
                <div class="col-lg-12 justify-content-center mt-4">
                    <div class="form-group">
                            <button
                                type="submit"
                                class="btn col-lg-12 btn-success"
                                [disabled]='updateStudBatchFees.invalid'
                                (click)="updateStBtchFeesData()">Update</button>
                        <!-- <button class="btn col-lg-12 btn-success"  (click)='addFee()'>Update</button> -->
                    </div>                        
                </div>
    
            </form>

        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="closeTrainerUpdateModal" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>