<div class="container">
    
    <div class="row justify-content-center">
        <div class="justify-content-center" >
            <h2 class="col-sm-12 justify-content-center">{{addBatchTxt}}</h2>
        </div>

    </div>
    <div class="row justify-content-center">
            
        <div class="col-lg-2"></div>
        <form class="col-lg-8 justify-content-center" [formGroup]="batchData" > 
            <div class="row justify-content-center mt-4">
                <h3 class="justify-content-center">Batch Details</h3>
            </div>
            <!-- <div class="row"> -->
                <div class="form-group  mt-4">

                    <label for="batchName">
                        Batch Name:
                    </label>

                    <input id="batchName" formControlName="batchName" type="text" placeholder="enter batch name" class="form-control col-sm-12">
                    <div class="error" *ngIf="getBatchData.batchName.invalid && getBatchData.batchName.touched">
                        <div *ngIf="getBatchData.batchName.errors.required">Batch Name is required</div>
                     </div>
                </div>

                <div class="form-group">
                    <label for="batchType">
                        Select Batch Type:
                    </label>
                    <select class="form-control" formControlName="batchType" placeholder="enter batch type" id="batchType">
                        <option value="">Select Batch Type</option>
                        <option>Weekdays</option>
                        <option>Weekends</option>
                    </select>
                    <div class="error" *ngIf="getBatchData.batchType.invalid && getBatchData.batchType.touched">
                        <div *ngIf="getBatchData.batchType.errors.required">Batch type is required</div>
                     </div>
                </div>

                <div class="form-group">
                    <label for="batchTime">
                        Batch Time:
                    </label>
                    <input formControlName="batchTime" id="batchTime"  class="form-control" placeholder="enter batch time">
                    <div class="error" *ngIf="getBatchData.batchTime.invalid && getBatchData.batchTime.touched">
                        <div *ngIf="getBatchData.batchTime.errors.required">Batch time is required</div>
                     </div> 
                </div>
                
                <div class="form-group">
                    <label for="courseName">Select Course Name:</label>
                    <ngx-select-dropdown 
                    (change)="selectionChanged($event)" 
                    [config]="config" 
                    [options]="dropdownOptions"
                    formControlName="courseName"
                    ></ngx-select-dropdown>

                    <div class="error" *ngIf="getBatchData.courseName.invalid && getBatchData.courseName.touched">
                        <div *ngIf="getBatchData.courseName.errors.required">Course name is required</div>
                     </div> 
                </div>

                <div class="form-group">
                    <label for="totalBatches">
                        No. of Session:
                    </label>
                    <input formControlName="totalBatches" id="totalBatches" type="text" pattern="[0-9]*"  class="form-control" placeholder="enter total number of batches">
                    <div class="error" *ngIf="getBatchData.totalBatches.invalid && getBatchData.totalBatches.touched">
                        <div *ngIf="getBatchData.totalBatches.errors.required">Total number of batches is required</div>
                        <div *ngIf="getBatchData.totalBatches.errors.pattern">only numbers allowed</div>
                     </div> 
                </div>


               
                <div class="form-group">
                    <label for="startDate">
                        No. of Session:
                    </label>
                    <input formControlName="startDate" id="startDate" type="text"  class="form-control" placeholder="enter total number of batches">
                    <div class="error" *ngIf="getBatchData.startDate.invalid && getBatchData.startDate.touched">
                        <div *ngIf="getBatchData.startDate.errors.required">Total number of batches is required</div>
                        <div *ngIf="getBatchData.startDate.errors.pattern">only numbers allowed</div>
                     </div> 
                </div>
                <div class="form-group">
                    <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd"
                             name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                      </div>
                    </div>
                  </div>

                <!-- <div class="form-control">
                    <label for=""></label>
                </div> -->
                
                <div class="form-group mb-3">
                        <div class="float-left col-lg-5 justify-content-start pl-0 mb-4">
                            <button type="submit" class="col-lg-12 btn btn-success" [disabled]='batchData.invalid' (click)="addBatch()">Add</button>
                        </div>
                        <div class="float-right col-lg-5 justify-content-end pr-0 mb-4">
                            <button type="reset" class="col-lg-12 btn btn-danger" id='formReset' >Reset</button>
                        </div>
                </div>
            <!-- </div> -->
        </form>

        
        <div class="col-lg-2"></div>
    </div>
</div>