<div class="container-fluid">

    <div class="row form-group ml-3">
        <label for="exampleInputEmail1" class="col-sm-1 font-weight-bold" style="padding-top: 5px;">search</label>
        <div class="col-md-6">
            <input type="email" class="form-control col-md-6" #search  (keyup)="updateFilter($event)"  aria-describedby="emailHelp" placeholder="Search by name or contact number or email">
            <small id="emailHelp" class="form-text text-muted">Search by student name, batch name or course name.</small>
        </div>
    </div>

<ngx-datatable
#table
class="material"
[columnMode]="'force'"
[headerHeight]="50"
[footerHeight]="50"
[rowHeight]="'auto'"
[limit]="10"
[rows]="rows">


<ngx-datatable-column name="Id" prop="id">
    <ng-template
        ngx-datatable-cell-template="ngx-datatable-cell-template"
        let-rowIndex="rowIndex"
        let-value="value"
        let-row="row">
        {{value}}
    </ng-template>
</ngx-datatable-column>

<ngx-datatable-column name="Student Name" prop="stName">
    <ng-template  ngx-datatable-cell-template="ngx-datatable-cell-template" let-rowIndex="rowIndex"  let-value="value" let-row="row">

        {{value}}
    
    </ng-template>
</ngx-datatable-column>

<ngx-datatable-column name="Batch Name" prop="batchName">
    <ng-template  ngx-datatable-cell-template="ngx-datatable-cell-template" let-rowIndex="rowIndex"  let-value="value" let-row="row">

        {{value}}
    
    </ng-template>
</ngx-datatable-column>

<ngx-datatable-column name="Course Name" prop="courseName">
    <ng-template  ngx-datatable-cell-template="ngx-datatable-cell-template" let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{value}}
    </ng-template>
</ngx-datatable-column>

<ngx-datatable-column name="Batch Type" prop="batchType">
    <ng-template  ngx-datatable-cell-template="ngx-datatable-cell-template" let-rowIndex="rowIndex"  let-value="value" let-row="row">

        {{value}}
    
    </ng-template>
</ngx-datatable-column>

<ngx-datatable-column name="Total Session" prop="totalLecture">
    <ng-template  ngx-datatable-cell-template="ngx-datatable-cell-template" let-rowIndex="rowIndex"  let-value="value" let-row="row">

        {{value}}
    
    </ng-template>
</ngx-datatable-column>

<ngx-datatable-column name="Total Attended" prop="count">
    <ng-template  ngx-datatable-cell-template="ngx-datatable-cell-template" let-rowIndex="rowIndex"  let-value="value" let-row="row">

        {{value}}
    
    </ng-template>
</ngx-datatable-column>


<ngx-datatable-column name="status" prop="isActive" [width]="80">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <!-- {{value}} -->
        <button type="button" class="btn btn-info" (click)="changeBatchStatus(row)" *ngIf='row.isActive'>Actived</button>
        <button type="button" class="btn btn-danger" (click)="changeBatchStatus(row)" *ngIf='!row.isActive'>Deactived</button>
    </ng-template>
</ngx-datatable-column>

<!-- <ngx-datatable-column name="Action" >
    <ng-template  ngx-datatable-cell-template="ngx-datatable-cell-template" let-rowIndex="rowIndex"  let-value="value" let-row="row">

        {{value}}
        <button type="button"  class="btn btn-success disable" (click)="editDetails(row)" >Edit</button>
    </ng-template>
</ngx-datatable-column> -->


</ngx-datatable>

</div>